{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "react": {}
      }
    ]
  ],
  "plugins": [],
  "env": {
    "development": {
      "presets": ["next/babel"]
    }
  }
}
